<div class=note>
  <div class=note-content>
    <%= note.content %>
  </div>
  <div class=note-author>
    <%= note.user.name %>
  </div>
  <% if can? :update, note %>
    <%= link_to 'edit', edit_note_path(note) %>
  <% end %>
</div>
